body {
    font-family: 'Inconsolata', monospace;
    background-color: #efefef;
}
.narrative-wrapper {
    margin-left: 10vw;
    display: inline-block;
}

.description-wrapper 
{
   position: relative;
   width: 25em;
   height: 45em;
   display: inline-block;
   margin-left: 5em;

}
.hideen {
    display: none;
}
.description-wrapper div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #e0e0e0;
}
.leadin, .leadto {
    margin: .2em;
    display: inline-block;
    /*height: 2em;*/
}
.leadin p, .leadto p {
    margin: 0;
    padding: .5em;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
h1 {
    margin: 0;
    padding:.1em;
    font-size: 5em;
}
.description-title, .description p {
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
}
.leadin {
    background-color: #17202A;
    color: white;
}
.leadto {
    margin-left: 4em;
}
.leadto p, .description p {
    opacity: 0;
}

.art {
    background-color: #9B59B6;
}
.tech {
    background-color: #2E86C1;
}
.character {
    background-color: #CB4335;
}
li {
    color: black;
    width: 100%;
}
